@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: sans-serif;
        line-height: 1.1;
        p{
            font-size: 14px;
        }
        box-sizing: border-box;
    }
    :root{
        --ntr-dark-blue:hsl(212, 21%, 14%);
        --ntr-gray-blue:hsl(228, 12%, 48%);
        --ntr-white:hsl(0, 0%, 100%);

        --pr-cyan:hsl(158, 36%, 37%);
        --pr-cream:hsl(30, 38%, 92%)
    }
}